li {
    display: inline-block;
    margin: 10px;
    background-color: darkslategrey;
    border-radius: 10px;
    width: 130px;
    height: 130px;
    cursor:pointer;
}

img {
    width: 100%;
    height: 100%;
    visibility: hidden;
    
}
#start{
    padding: 15px;
    background-color: red;
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
}